aniso8601==9.0.1
arrow==1.2.2
asn1crypto==1.5.1
attrs==21.4.0
binaryornot==0.4.4
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
cookiecutter==1.7.3
cryptography==36.0.2
Flask==2.1.2
flask-restx==0.5.1
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.7.1
itsdangerous==2.1.2
Jinja2==3.0.3
jinja2-time==0.2.0
jsonschema==4.6.0
MarkupSafe==2.1.0
oscrypto==1.3.0
poyo==0.5.0
pycparser==2.21
pycryptodomex==3.14.1
pyOpenSSL==21.0.0
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyqt5-tools==5.15.4.3.2
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-slugify==6.1.1
pytz==2022.1
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.27.1
six==1.16.0
snowflake-connector-python==2.7.6
text-unidecode==1.3
urllib3==1.26.9
Werkzeug==2.1.2
zipp==3.8.0
