@import '@fortawesome/fontawesome-free/css/all.css';
.no-hover {
  pointer-events: none;
}

.v-btn {
  text-transform: none !important;
}

.btn-uppercase {
  text-transform: uppercase !important;
}

.hover-pointer:hover {
  cursor: pointer;
}
