<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty name="lokiServer" source="loki.server"/>
    <springProperty name="lokiEnabled" source="loki.enabled"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://${lokiServer}/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=${appName},host=${HOSTNAME},traceID=%X{traceId:-NONE},level=%level</pattern>
            </label>
            <message>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="INFO">
        <if condition='property("lokiEnabled").equals("true")'>
            <then>
                <appender-ref ref="LOKI"/>
            </then>
        </if>
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>